<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create message</title>
  </head>
  <body>
    <h1>Create a message</h1>

    <form action="" method="POST">
      <label for="title">Title</label>
      <input id="title" name="title" placeholder="Title of message" type="text" />

      <label for="text">Text</label>
      <input id="text" name="text" placeholder="Text of message" type="text" />

      <button>Submit</button>
    </form>
  </body>
</html>
