<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Index</h1>
    <% if (locals.user) {%>
    <h1>Welcome <%= user.username %></h1>
    <a href="/logout">Logout</a>
    <h2>Messages:</h2>
    <% } else { %>
    <h2>Messages:</h2>
    <%}%>
  </body>
</html>
