<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join the club</title>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Join the club</h1>

    <p>Enter the passcode to become a club member!</p>

    <form action="" method="POST">
      <label for="passcode">Passcode</label>
      <input id="passcode" name="passcode" placeholder="Passcode" type="text" />
      <button>Submit</button>
    </form>
  </body>
</html>
