<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login failure</title>
  </head>
  <body>
    <%- include('navbar') %>
    <h1>Login failure</h1>
    <p>Invalid username and/or password</p>
    <a href="/login">Back to login</a>
  </body>
</html>
